extends ../layout
include ../mixins/_subsection
include ../mixins/_api

block content

  .row
    .col-sm-offset-3.col-sm-9
      h1(id="#{slug(section._name).toLowerCase()}")
        i.fa.fa-file-text-o
        |  #{section._file.name}

  .row
    .col-sm-offset-3.col-sm-9
      ol.breadcrumb
        each crumb in breadcrumbs
          li
            a(href="#{basePath}#{crumb._path}") #{crumb._name}
        li.active
          span #{section._file.name}

  .row
    .col-lg-12
      hr

  .row
    .col-sm-3#toc
      ul
        li
          a(href="#") Classes
          ul
            each classObj in section._file.classes
              +classSourceToC(classObj)

    - var contributors = ''
    unless (0 === section._file.contributors.length)
      each contributor in section._file.contributors
        - contributors += helper.author(contributor)

    .col-sm-9#main-code
      pre.line-numbers
        .meta
          .filepath #{section._file.path + '/'}
            b #{section._filename}
            .pull-right
              unless (0 === section._file.contributors.length)
                a(
                  href="#",
                  data-toggle="popover", data-trigger="click",
                  data-placement="left", data-html="true",
                  data-title="Contributors", data-content="#{contributors}"
                ).btn.btn-info
                  i.fa.fa-users
              |&nbsp;
              - var className = (section._file.classes[0]) ? section._file.classes[0].name : section._filename.replace(/\.js$/, '').capitalize()
              a(
                href="#", data-snippet-title="Class loading snippet",
                data-snippet-code="var #{className} = greppy.get('#{section._file.fullPath.replace(/\//g, '.').replace(/\.js$/, '')}');",
                data-toggle="tooltip", data-placement="top", data-title="Show loading snippet"
              ).btn.btn-info.code-snippet
                i.fa.fa-code
              |&nbsp;
              a(
                href="https://github.com/Jack12816/greppy/blob/master/lib/#{section._file.fullPath}",
                data-toggle="tooltip", data-placement="top", data-title="View file on Github",
                target="_blank"
              ).btn.btn-info
                i.fa.fa-github-alt

        each line, nr in section._file.content.split('\n')
          p.line(id="L#{nr+1}")
            a.line-nr(href="#L#{nr+1}")
            span.line-content !{line}

